//connecting to styles
@import "styles";

.home {
  @include main-content;
  @include title-txt;
  text-align: center;
  h2 {
    padding-top: 5%;
  }
  h3 {
    padding: 3% 0 5% 0;
    font: {
      style: italic;
    }
  }
}
//end of home page

//work page
//the tabs nav
.nav-tabs {
  border:none;
  text-align: center;
  display: inline-block;
  @include title-txt;
  text-transform: lowercase;
  a {
    color: #ebe6e4;
    &:hover {
      color: #444444;
    }
  }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  opacity: 0.5;
}
//tabel
tbody {
  @include work-table;
  .role {
    font: {
      weight: 400!important;
      style: italic;
    }
  }
}
//end of work page

//contact page
.contact1 {
  padding: 3%;
  @include body-txt;
  p {
    background-color: rgba(83,76,77,0.4);
  }
  img {
    padding-bottom: 2%;
  }
  .contact-icon{
    width: 8vw;
  }
}
.aboutme {
  padding: 4% 4% 0 4%;
  p {
    background-color: rgba(83,76,77,0.4);
    @include body-txt;
    text-align: justify;
    span {
      font: {
        size: 2vw;
      };
      line-height: 3;
    }
    p.first {
      padding: 0 4% 0 0!important;
    }
  }
  h2 {
    font-size: 3vw!important;
  }
  h4 {
    font: {
      size: 2vw;
    };
    padding-top: 2%;
  }
  table {
    margin: 0 auto;

    td {
      width: 18vw !important;
    }
  }
}
.aboutme-credit {
  @include body-txt;
  a {
    color: #fff;
  }
}
.aboutme-title {
  h1 {
    font-size: 15vw!important;
  }
}