@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Fontdiner+Swanky);
//fonts
$title: 'Fontdiner Swanky', cursive;
$body: 'Indie Flower', cursive;

//the pweety colors
$accent: #bf765e;
$greyDark: #232323;
$greyReg: #333;
$orange: #f58235;
$pink: #a35563;
$blue: #4899c3;