//google fonts
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,400italic,400,700|Cabin+Sketch:700);

//font settings throughout the site
@mixin title-txt {
  h1 {
    font: {
      family: 'Cabin Sketch', cursive;
      size: 8vw;

    }
  }
  h2 {
    font: {
      family: 'Lato', sans-serif;
      weight: 700;
      size: 4vw;
    }
  }
  h3 {
    font: {
      family: 'Lato', sans-serif;
      weight: 400;
      style: italic;
      size: 2vw;
    }
  }
}

@mixin subtitle-txt {
  font: {
    family: 'Lato', sans-serif;
    size: 2.5vw;
    style: normal;
    weight: 300;
  }
}

@mixin body-txt {

}