//google fonts
@import url(http://fonts.googleapis.com/css?family=PT+Serif|Lato:300,300italic,400italic,400,700|Cabin+Sketch:700);

//font settings for titles
@mixin title-txt {
  h1 {
    font: {
      family: 'Cabin Sketch', cursive;
      size: 8vw;

    }
  }
  h2 {
    font: {
      family: 'Lato', sans-serif;
      weight: 700;
      size: 4vw;
    }
  }
  h3 {
    font: {
      family: 'Lato', sans-serif;
      weight: 400;
      style: normal;
      size: 2vw;
    }
  }
}
@mixin body-txt{
  a {
    color: #ebe6e4;
    &:hover {
      color: #db525e;
      text-decoration: none;
    }
  }
  font: {
    family: 'PT Serif', serif;
    style: normal;
    size: 1.4vw;
  }
}

//the nav
@mixin main-nav{
  background: url("../images/geometry2.png");
  width: 100%;
  text-align: center;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0 2%;
    display: inline-block;
    a {
      font: {
        family: 'Lato', sans-serif;
        size: 2vw;
        style: normal;
        weight: 700;
      }
      color: #4d494d;
      &:hover {
        color: #db525e;
        background: none;
      }
    }
  }
}

@mixin main-content{
  background: url("../images/main-content.jpg");
  width: 100%;
  color: #ebe6e4;
}
