//the mobile button
#nav-trigger {
  display: none;
  text-align: center;
  span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ff0032;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
  }
  &:hover {
    background-color: #e6002d;
  }
}

//the main navigation with all its assholes
nav {
  margin-bottom: 30px;
  &#nav-main {
    background-color: #ff0032;
    padding: 10px 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        border-right: solid 1px #cc0028;
        padding: 0 5px;

        &:last-child {
          border-right: none;
        }

        a {
          display: block;
          color: white;
          padding: 10px 30px;

          &:hover {
            background-color: #e6002d;
            color: #fff;
          }
        }
      }
    }
  }
}

//the mobile version that should be a cleaned asshole
nav#nav-mobile {
  position: relative;
  display: none;

  ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ff0032;
    li {
      display: block;
      padding: 5px 0;
      margin: 0 5px;
      border-bottom: solid 1px #cc0028;
      &:last-child {
        border-bottom: none;
      }

      a {
        display: block;
        color: white;
        padding: 10px 30px;
        &:hover {
          background-color: #e6002d;
          color: #fff;
        }
      }
    }
  }
}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {

  #nav-trigger {
    display: block;
  }

  nav#nav-main {
    display: none;
  }

  nav#nav-mobile {
    display: block;
  }
}