//the mobile button
#nav-trigger {
  display: none;
  text-align: right;
  background: $bgnav;
  span {
    display: inline-block;
    padding: 10px 30px;
    background-color: $orange;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 2;
    &:hover, &:active {
      background-color: lighten($orange, 10%);
    }
  }
}

//the main navigation with all its assholes
nav {
  margin-bottom: 30px;
  &#nav-main {
    background: $bgnav;
    padding: 10px 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        background: none;
        text-align: center;
        &#home {
          display: none;
        }
        a {
          display: block;
          color: $greyReg;
          font-family: $body;
          width: 80px;
          font-size: 2.5em;

          &#coffee {
            background: url('../images/coffee.svg') no-repeat center top;
            padding: 110px 0 0;
            margin: 0 auto;
            &:hover {
              background: url('../images/coffee2.svg') no-repeat center top;
            }
          }
          &#glass {
            background: url('../images/glasses.svg') no-repeat center top;
            @extend #coffee;
            &:hover {
              background: url('../images/glasses1.svg') no-repeat center top;
            }
          }
          &.brand {
            background: #FDFDFD url('../images/header.png') no-repeat center;
            background-size: 100%;
            min-width: 70%;
            display: block;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(61, 54, 66, 1);
            -moz-box-shadow: 0px 0px 8px 0px rgba(61, 54, 66, 1);
            box-shadow: 0px 0px 8px 0px rgba(61, 54, 66, 1);
            border: 2px solid #3d3642;
            padding: 80px 0;
            margin: 20px auto 0
          }
          &#book {
            background: url('../images/book.svg') no-repeat center top;
            @extend #coffee;
            &:hover {
              background: url('../images/book1.svg') no-repeat center top;
            }
          }
          &#call {
            background: url('../images/phone.svg') no-repeat center top;
            @extend #coffee;
            &:hover {
              background: url('../images/phone1.svg') no-repeat center top;
            }
          }
        }
      }
    }
  }
}

//the mobile version that should be a cleaned asshole
nav#nav-mobile {
  position: relative;
  display: none;
  z-index: 1;
  ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fafafa;
    li {
      display: block;
      padding: 5px 0;
      margin: 0 5px;
      &.col-sm-2 {
        width: 100%;
      }
      &.logo {
        display: none;
      }
      &#home {
        display: block;
      }
      a {
        display: block;
        color: $greyReg;
        padding: 10px 30px;
        font-size: 2em;
        font-family: $body;
        &:hover {
          background-color: lighten($orange, 20%);
        }
        &#coffee {
          background-image: url('../images/coffee.svg');
          background-repeat: no-repeat;
          background-position: 35% -20px;
        }
        &#glass {
          background-image: url('../images/glasses.svg');
          background-repeat: no-repeat;
          background-position: 35% -20px;
        }
        &#book {
          background-image: url('../images/book.svg');
          background-repeat: no-repeat;
          background-position: 35% -20px;
        }
        &#call {
          background-image: url('../images/phone.svg');
          background-repeat: no-repeat;
          background-position: 35% -20px;
        }
      }
    }
  }
}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {

  #nav-trigger {
    display: block;
  }

  nav#nav-main {
    display: none;
  }

  nav#nav-mobile {
    display: block;
  }
}
