%html
  %head
    %title About Niya
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    %link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    %link(rel="stylesheet" href="styles/styles.css" )
  %body
    -#--------------------------------------the navigation of all things----------------
    %nav#nav-main.container-fluid
      %ul.row
        %li.col-md-2
          %a#coffee(href="work.html")
            Work
        %li.col-md-2
          %a#glass(href="about.html")
            About
        %li.col-md-4
          %a.brand(href="index.html")
            -#%img(src="images/header.png" )
        %li.col-md-2
          %a#book(href="http://blog.findniya.com")
            Blog
        %li.col-md-2
          %a#call(href="contact.html")
            Contact
    #nav-trigger
      %span
        %i.material-icons.toggle
          menu
    %nav#nav-mobile

    -#------------------------the main body------------------------------
    .container-fluid.about
      .row
        .col-xs-12.title
          %h2 My Skills
      .row
        .col-xs-12.col-sm-1.skill
          %img(src="images/skills/ps.svg" )
          %img(src="images/skills/ai.svg" )
          %img(src="images/skills/id.svg" )
        .col-xs-12.col-sm-1.skill
          %img(src="images/skills/html.svg" )
          %img(src="images/skills/less.svg" )
          %img(src="images/skills/sass.svg" )
        .col-xs-12.col-sm-1.skill
          %img(src="images/skills/jq.svg" )
          %img(src="images/skills/angular.svg" )
          %img(src="images/skills/boot.svg" )
        .col-xs-2.col-sm-1.skill
          %img(src="images/skills/sql.svg" )
          %img(src="images/skills/wordpress.svg" )
        .col-xs-12.col-sm-7.para
          %p
            I have a nobel prize in coffee consumption. I have walked around the world in 80 days. Climbing Mt. Everest was a weekend jog for me. My wit was the muse for Shakespeare.
            %br
            %span Yes I have done it all (not really but working on it).
          %p
            I started out as one of the many misguided pre-law students working to be a serious lawyer. Then I realized how many wrinkles I was going to get from frowning at books all day.
            %br
            Luckily, I stumbled into a Graphic and Web Design class, where I learned a whole new way to frown (apparently its called a smile :). I learned to code and got some design experience. I landed some great freelance jobs and I learned even more.
            %br
            I love creating designs for all kinds of things, online and offline. So if you have something great you were thinking of putting out there, I would love to help you design it into being.
      .row
        .col-xs-12.creditTitle
          %h4 Giving Credit Where It's Owed!
      .row
        .col-xs-12.credit
          %p
            The Site Utilizes: Bootstrap, Haml, Sass, Jquery, & Gulp
            &nbsp;&nbsp;
            Photo Credit:
            &nbsp;
            %a(href="https://www.flickr.com/photos/webtreatsetc/4451865583/" )Webtreats /
            %a(href="http://foter.com/" )Foter /
            %a(href="http://creativecommons.org/licenses/by/2.0/")CC BY
            &nbsp;&nbsp;
            Vintage Phone Icon By:
            %a(href="http://www.freepik.com" title="Freepik" )Freepik
            &nbsp;
            %a(href="http://www.flaticon.com" title="Flaticon" ) www.flaticon.com is licensed by:
            &nbsp;
            %a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" ) CC BY 3.0


    -#---------------------------------the footer: reminder love yourself--------------------
    .container-fluid.foot-nav
      .row
        .col-xs-12
          %img(src="images/fn.png" )

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    %script(src="scripts/script.js" )