%html
  %head
    %title Found Niya
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    %link(rel="stylesheet" href="styles/page_content.css" )
    %link(rel="stylesheet" href="styles/topnav_styles.css" )
    %link(rel="stylesheet" href="styles/footnav_styles.css" )
  %body
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed(aria-expanded= "false" data-target = "#bs-example-navbar-collapse-1" data-toggle = "collapse" type = "button")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href = "#") Brand
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a(href = "#")
                Link
                %span.sr-only (current)
            %li
              %a(href = "#") Link
            %li.dropdown
              %a.dropdown-toggle(aria-expanded="false" aria-haspopup = "true" data-toggle = "dropdown" href = "#" role = "button")
                Dropdown
                %span.caret
              %ul.dropdown-menu
                %li
                  %a(href = "#") Action
                %li
                  %a(href = "#") Another action
                %li
                  %a(href = "#") Something else here
                %li.divider(role = "separator")
                %li
                  %a(href = "#") Separated link
                %li.divider(role = "separator")
                %li
                  %a(href = "#") One more separated link
          %form.navbar-form.navbar-left(role = "search")
            .form-group
              %input.form-control(placeholder = "Search" type = "text")
            %button.btn.btn-default(type = "submit") Submit
          %ul.nav.navbar-nav.navbar-right
            %li
              %a(href = "#") Link
            %li.dropdown
              %a.dropdown-toggle(aria-expanded = "false" aria-haspopup = "true" data-toggle = "dropdown" href = "#" role = "button")
                Dropdown
                %span.caret
              %ul.dropdown-menu
                %li
                  %a(href = "#") Action
                %li
                  %a(href = "#") Another action
                %li
                  %a(href = "#") Something else here
                %li.divider(role ="separator")
                %li
                  %a(href = "#") Separated link

    -#the main body
    .container.home
      .row
        .col-xs-12
          %h2 Hi
          %h1 My Name Is Niya
          %h3 "Of course I talk to myself, because sometimes I need expert advice."

    -#the footer
    .container.foot-nav
      .row
        .col-xs-12.
          %ul.nav
            %li
              %a(href="work.html")
                %span Work
            %li
              %a(href="#about.html")
                %span About
            %li
              %a(href="index.html" )
                %img(src="images/fn.png" )
            %li
              %a(href="http://findniya.com/blog/")
                %span Blog
            %li
              %a(href="contact.html")
                %span Contact

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")