%html
  %head
    %title Found Niya
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" )
    %link(rel="stylesheet" href="styles/topnav_styles.css" )
  %body
    .container
      .row
        .col-md-12.brand
          %img(src="images/header.png" )
      .row
        .col-md-12.topnav
          %ul.nav
            %li(role="presentation").active
              %a(href="#")Work
            %li(role="presentation")
              %a(href="#")About
            %li(role="presentation")
              %a(href="#")Blog
            %li(role="presentation")
              %a(href="#")Contact



    -#todo hello
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")