%html
  %head
    %title Found Niya
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" )
    %link(rel="stylesheet" href="styles/topnav_styles.css" )
  %body
    .container
      .row.brand
        .col-md-12
          %img(src="images/header.png" )
      .row
        .col-md-3
          %a(href="#" ) Work
        .col-md-3
          %a(href="#" ) About
        .col-md-3
          %a(href="#" ) Contact
        .col-md-3
          %a(href="#" ) Blog





    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")