%html
  %head
    %title Found Niya
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" )
    %link(rel="stylesheet" href="styles/page_content.css" )
    %link(rel="stylesheet" href="styles/topnav_styles.css" )
    %link(rel="stylesheet" href="styles/footnav_styles.css" )
  %body
    -#the nav and logo
    .container.top-nav
      .row
        .col-xs-12.brand
          %a(href="index.html")
            %img(src="images/header.png" )
      .row
        .col-xs-12.topnav
          %ul.nav
            %li(role="presentation")
              %a(href="work.html")
                %img.icon#coffee(src="images/coffee.png" )
                %img.icon1#coffee(src="images/coffee2.png" )
                %span Work
            %li(role="presentation")
              %a(href="about.html")
                %img.icon(src="images/glasses.png" )
                %img.icon1(src="images/glasses1.png" )
                %span About
            %li(role="presentation")
              %a(href="#")
                %img.icon(src="images/book.png" )
                %img.icon1(src="images/book1.png" )
                %span Blog
            %li(role="presentation")
              %a(href="#")
                %img.icon(src="images/glasses.png" )
                %img.icon1(src="images/glasses1.png" )
                %span Contact

    -#the main body
    .container.home
      .row
        .col-xs-12
          %h2 Hi
          %h1 My Name Is Niya
          %h3 "Of course I talk to myself, because sometimes I need expert advice."

    -#the footer
    .container.foot-nav
      .row
        .col-xs-12.
          %ul.nav
            %li(role="presentation")
              %a(href="work.html")
                %span Work
            %li(role="presentation")
              %a(href="#")
                %span About
            %li(role="presentation")
              %a(href="index.html" )
                %img(src="images/fn.png" )
            %li(role="presentation")
              %a(href="#")
                %span Blog
            %li(role="presentation")
              %a(href="#")
                %span Contact

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")