%html
  %head
    %title Found Niya
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" )
    %link(rel="stylesheet" href="styles/page_content.css" )
    %link(rel="stylesheet" href="styles/topnav_styles.css" )
    %link(rel="stylesheet" href="styles/footnav_styles.css" )
  %body
    -#the nav and logo
    %nav.navbar.navbar-default
      .container-fluid
        -#Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="#" )

        -#Collect the nav links, forms, and other content for toggling, the id is needed for the collapsible when in toggle
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav
            %li
              %a(href="work.html")
                %img.icon#coffee(src="images/coffee.svg" )
                %img.icon1#coffee(src="images/coffee2.svg" )
                %span Work
            %li
              %a(href="about.html")
                %img.icon(src="images/glasses.svg" )
                %img.icon1(src="images/glasses1.svg" )
                %span About
            %li.active
              %a(href="index.html")
                %img(src="images/header.png" )
            %li
              %a(href="http://niyamp3.tumblr.com/")
                %img.icon(src="images/book.svg" )
                %img.icon1(src="images/book1.svg" )
                %span Blog
            %li
              %a(href="contact.html")
                %img.icon(src="images/phone.svg" )
                %img.icon1(src="images/phone1.svg" )
                %span Contact

    -#the main body
    .container.home
      .row
        .col-xs-12
          %h2 Hi
          %h1 My Name Is Niya
          %h3 "Of course I talk to myself, because sometimes I need expert advice."

    -#the footer
    .container.foot-nav
      .row
        .col-xs-12.
          %ul.nav
            %li
              %a(href="work.html")
                %span Work
            %li
              %a(href="#about.html")
                %span About
            %li
              %a(href="index.html" )
                %img(src="images/fn.png" )
            %li
              %a(href="http://niyamp3.tumblr.com/")
                %span Blog
            %li
              %a(href="contact.html")
                %span Contact

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")