%html
  %head
    %title Found Niya
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" )
    %link(rel="stylesheet" href="styles/page_content.css" )
    %link(rel="stylesheet" href="styles/topnav_styles.css" )
    %link(rel="stylesheet" href="styles/footnav_styles.css" )
  %body
    -#the nav and logo
    .container.top-nav
      .row
        .col-xs-12.topnav
          %ul.nav
            %li(role="presentation")
              %a(href="work.html")
                %img.icon#coffee(src="images/coffee.svg" )
                %img.icon1#coffee(src="images/coffee2.svg" )
                %span Work
            %li(role="presentation")
              %a(href="about.html")
                %img.icon(src="images/glasses.svg" )
                %img.icon1(src="images/glasses1.svg" )
                %span About
            %li.brand
              %a(href="index.html")
                %img(src="images/header.png" )
            %li(role="presentation")
              %a(href="http://niyamp3.tumblr.com/")
                %img.icon(src="images/book.svg" )
                %img.icon1(src="images/book1.svg" )
                %span Blog
            %li(role="presentation")
              %a(href="contact.html")
                %img.icon(src="images/phone.svg" )
                %img.icon1(src="images/phone1.svg" )
                %span Contact

    -#the main body
    -#the tab nav
    .container.home
      .row
        .col-xs-12
          %ul.nav.nav-tabs#myTab(role="tablist")
            %li.active(role="presentation")
              %a(href="#web" role="tab" data-toggle="tab" )
                %h3 Web Design
            %li(role="presentation" )
              %a(href="#graphics" role="tab" data-toggle="tab")
                %h3 Graphic Design
            %li(role="presentation" )
              %a(href="#photo" role="tab" data-toggle="tab")
                %h3 Photo Editing

          -#the first panel
          .tab-content
            .tab-pane.active#web(role="tabpanel")
              .row
                .col-md-6
                  %a(href="https://www.myjuliebees.com/" )
                    %img(src="images/juliebees/winterwakeup.jpg" )
                .col-md-6
                  %a(href="https://www.myjuliebees.com/" )
                    %h2 Julie Bee's
                  %p.role Position: Web & Graphic Designer
                  %p Julie Bee's is an online shoe store that also hosted various offline events and marketing campaigns. My role was to design and develop the new online store on the Bigcommerce platform. I am now continuing to maintain the site, , while designing graphic materials for their offline activities.

              .row
                .col-md-6
                  %a(href="http://www.zebrablinds.com/" )
                    %h2 Zebrablinds
                  %p.role Position: Graphic & UX Designer
                  %p Zebrablinds is an online window treatment store that allowed customers to customize their window treatment choices. I was hired to inject some UX design into their existing online store and to design the graphics for their promotional material.
                .col-md-6
                  %a(href="http://www.zebrablinds.com/" )
                    %img(src="images/zebra/Cordlesscom.jpg" )

              .row
                .col-md-6
                  %a(href="http://www.jdgraphics.com/" )
                    %img(src="images/JD/jdlavender.jpg" )
                .col-md-6
                  %a(href="http://www.jdgraphics.com/" )
                    %h2 JD Graphics
                  %p.role
                    Position: Administrative Assistant,
                    %br
                    Web & Graphic Designer
                  %p JD Graphics is a print shop that designed, printed and installed large scale graphics for vehicles and buildings. I worked as an Administrative Assistant managing the print shop, as a Graphic Designer creating designs for clients, and as the resident Web Designer building and maintaining the shop website.

            -#the second panel
            .tab-pane#graphics(role="tabpanel")
              .row
                .col-md-12
                  %a(href="https://www.myjuliebees.com/" )
                    %h2 Julie Bee's
                  %p Banners, Event Invites and Newsletters

              .row
                .col-md-4
                  %img.graphics(src="images/juliebees/Valentine.gif" )
                .col-md-4
                  %img.graphics(src="images/juliebees/invite-4.jpg" )
                .col-md-4
                  %img.graphics(src="images/juliebees/invite 3.jpg" )

              .row
                .col-md-12
                  %a(href="http://www.zebrablinds.com/" )
                    %h2 Zebrablinds
                  %p Logo, Banners and Flyers
              .row
                .col-md-6
                  %img.graphics(src="images/zebra/Flyers1.jpg" )
                .col-md-6
                  %img.graphics(src="images/zebra/Flyers2.jpg" )

              .row
                .col-md-offset-2.col-md-8
                  %img.graphics1(src="images/zebra/Cordlessca.jpg" )

             -#the third panel
            .tab-pane#photo(role="tabpanel")
              .row
                .col-md-12
                  %a(href="https://www.myjuliebees.com/" )
                    %h2 Julie Bee's
                  %p Before & After Photo Edits
              .row
                .col-md-6
                  %img.photo1(src="images/juliebees/val.jpg" )
                .col-md-6
                  %img.photo1(src="images/juliebees/valentine.jpg" )
              .row
                .col-md-6
                  %img.photo1(src="images/juliebees/imageori.jpg" )
                .col-md-6
                  %img.photo1(src="images/juliebees/image.jpg" )

              .row
                .col-md-12
                  %a(href="https://www.myjuliebees.com/" )
                    %h2 JD Graphics
                  %p Before & After Photo Edits
              .row
                .col-md-6
                  %img.photo1(src="images/JD/IMG_0001.jpg" )
                .col-md-6
                  %img.photo1(src="images/JD/IMG_0001E.jpg" )
              .row
                .col-md-6
                  %img.photo1(src="images/JD/IMG_0001-(1)-2.jpg" )
                .col-md-6
                  %img.photo1(src="images/JD/IMG_0001-(1)-2E.jpg" )


    -#the footer
    .container.foot-nav
      .row
        .col-xs-12.
          %ul.nav
            %li(role="presentation")
              %a(href="work.html")
                %span Work
            %li(role="presentation")
              %a(href="about.html")
                %span About
            %li(role="presentation")
              %a(href="index.html" )
                %img(src="images/fn.png" )
            %li(role="presentation")
              %a(href="http://niyamp3.tumblr.com/")
                %span Blog
            %li(role="presentation")
              %a(href="contact.html")
                %span Contact

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    :javascript
      $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })