%html
  %head
    %title Niya's Work
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")
    %link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    %link(rel="stylesheet" href="styles/styles.css" )
  %body
    -#--------------------------------------the navigation of all things----------------
    %nav#nav-main.container-fluid
      %ul.row
        %li.col-md-2.col-sm-2.col-xs-12#home
          %a#index(href="index.html")
            Home
        %li.col-md-2.col-sm-2.col-xs-12
          %a#coffee(href="work.html")
            Work
        %li.col-md-2.col-sm-2.col-xs-12
          %a#glass(href="about.html")
            About
        %li.col-md-4.col-sm-4.col-xs-12.logo
          %a.brand(href="index.html")
        %li.col-md-2.col-sm-2.col-xs-12
          %a#book(href="http://blog.findniya.com")
            Blog
        %li.col-md-2.col-sm-2.col-xs-12
          %a#call(href="contact.html")
            Contact
    #nav-trigger
      %span
    %nav#nav-mobile
    -#------------------------the main body------------------------------
    .container-fluid.work
      -#-------------------------simple-----------------------------------
      .row.tab
        .col-xs-12.title.simple
          %h2
            %a(href="http://www.simplepart.com" target="_blank")
              %img(src="images/simple/title.jpg" )
      .row
        .col-md-5.col-xs-10.col-xs-offset-1.simple.subtitle
          %p
            Audi, Volkswagon, Subaru...why yes I did build all of their cars. And by "build", I mean help implement the designs for each of their new car parts retail sites. And by "implement", I mean write a significant portion of the HTML, CSS, and JavaScript.
          .row
            .col-md-6.col-xs-12.img-short
              %a(href="http://parts.audiusa.com" target="_blank")
                %img(src="images/simple/audi.jpg")
            .col-md-6.col-md-offset-0.col-xs-12.img-short
              %a(href="http://parts.iralexusofmanchester.com" target="_blank")
                %img(src="images/simple/lexus.jpg")
        .col-md-5.col-md-offset-0.col-xs-10.col-xs-offset-1.img-long
          %a(href="http://www.simplepart.com" target="_blank")
            %img(src="images/simple/web.jpg")
        -# Add the extra clearfix for only the required viewport
        .clearfix.visible-md-block
      -#-------------------------julie------------------------------------
      .row.tab
        .col-xs-12.title.julie
          %h2
            %a(href="https://www.myjuliebees.com/" target="_blank")
              %img(src="images/julie/title.svg" )
      .row
        .col-md-6.col-xs-10.col-xs-offset-1.julie.subtitle
          %p
            So if you haven't figured it out yet, I'm a girl, which means I'm genetically addicted to shoes. Luckily, I got to design, implement, and maintain Julie Bee's site, a luxury shoe brand. This included designing the majority of their promotional material and implementing custom functionality on top of the BigCommerce platform. And to top it off, Julie is a real person. Who woulda thunk?
          .row
            .col-md-5.col-xs-12.img-short
              %a.fancybox(href="images/julie/fall.jpg")
                %img(src="images/julie/fall.jpg")
            .col-md-5.col-md-offset-0.col-xs-12.img-short
              %a.fancybox(href="images/julie/atlantaflat.gif")
                %img(src="images/julie/atlantaflat.gif")
        .col-md-4.col-md-offset-0.col-xs-10.col-xs-offset-1.img-long
          %a(href="http://www.myjuliebees.com" target="_blank")
            %img(src="images/julie/screen.jpg")
        -# Add the extra clearfix for only the required viewport
        .clearfix.visible-md-block
      -#----------------------------monokai---------------------------------
      .row.tab
        .col-xs-12.title.monokai
          %h2
            %a(href="http://www.monokaicode.co" target="_blank")
              %img(src="images/monokai/title.svg")
      .row
        .col-md-5.col-xs-10.col-xs-offset-1.subtitle.monokai
          %p
            Nerd + Nerd = Monokai Code Company. I co-founded Monokai alongside my husband as an ode to our love...of technology. We aimed to be an web development firm that brought a sense of elegance and simplicity to the table. As lead designer, I tried to capture that inspiration in our company's website.
          .row
            .col-md-6.col-xs-12.img-short
              %a.fancybox(href="images/monokai/card.svg")
                %img(src="images/monokai/card.svg")
            .col-md-6.col-md-offset-0.col-xs-12.img-short
              %a.fancybox(href="images/monokai/card1.svg")
                %img(src="images/monokai/card1.svg")
          .row.space
            .col-md-6.col-xs-12.img-short
              %a.fancybox(href="images/monokai/penny.svg")
                %img(src="images/monokai/penny.svg")
            .col-md-6.col-md-offset-0.col-xs-12.img-short
              %a.fancybox(href="images/monokai/coffee.svg")
                %img(src="images/monokai/coffee.svg")
        .col-md-5.col-md-offset-0.col-xs-10.col-xs-offset-1.img-long
          %a(href="http://monokaicode.co" target="_blank")
            %img(src="images/monokai/screen.jpg")
        -# Add the extra clearfix for only the required viewport
        .clearfix.visible-md-block

    -#---------------------------------the footer: reminder love yourself--------------------
    .container-fluid.foot-nav
      .row
        .col-xs-12
          %img(src="images/fn.png" )

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    %script(src="scripts/script.js" )
